body {
  font-family: sans-serif;
  padding: 40px;
  background-color: #f4f4f9;
}

h1 {
  font-size: 1.4rem;
  color: #333;
}


.caja {
  width: 300px;           
  padding: 30px;          
  border: 10px solid #333;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

/
.sin-box-sizing {
  background-color: #e74c3c; 
  box-sizing: content-box; 
}

.con-box-sizing {
  background-color: #2ecc71; 
  box-sizing: border-box; 
}